RowCellList={{grid | json}}
<h1>Table</h1>
<table style="width:100%;">
  @for (cellList of grid?.rowCellList; track $index;) {
  <tr>
    @for (cell of cellList; track $index;) {
    <td>
      @switch (cell.cellEnum) {
      <!-- Field -->
      @case (GridCellEnum.Field) {
      <input [ngModel]="cellTextGet(cell)" (ngModelChange)="cellTextSet(cell, $event)">
      }
      <!-- Autocomplete -->
      @case (GridCellEnum.FieldAutocomplete) {
      <input [ngModel]="cellTextGet(cell)" (ngModelChange)="cellTextSet(cell, $event)" (focus)="cellFocus(cell)">
      }
      <!-- Checkbox -->
      @case (GridCellEnum.FieldCheckbox) {
      <input [ngModel]="cellTextGet(cell) == 'true'" (ngModelChange)="cellTextSet(cell, $event)" type="checkbox">
      }
      <!-- Header -->
      @case (GridCellEnum.Header) {
      <button (click)="click(cell)"><b>{{cell.text}}</b></button>
      @if (grid?.state?.sort?.fieldName == cell.fieldName && grid?.state?.sort?.isDesc == false) {
      Asc
      }
      @if (grid?.state?.sort?.fieldName == cell.fieldName && grid?.state?.sort?.isDesc == true) {
      Desc
      }
      <button (click)="clickLookup(cell)">▼</button>
      }
      <!-- Filter -->
      @case (GridCellEnum.Filter) {
      <input [ngModel]="cellTextGet(cell)" (ngModelChange)="cellTextSet(cell, $event)" placeholder="Search">
      }
      <!-- Button Cancel -->
      @case (GridCellEnum.ButtonCancel) {
      <button (click)="click(cell)">Cancel</button>
      }
      <!-- Button Save -->
      @case (GridCellEnum.ButtonSave) {
      <button (click)="click(cell)">Save</button>
      }
      <!-- Button Cancel (Lookup) -->
      @case (GridCellEnum.ButtonLookupCancel) {
      <button (click)="click(cell)">Cancel</button>
      }
      <!-- Button Ok (Lookup) -->
      @case (GridCellEnum.ButtonLookupOk) {
      <button (click)="click(cell)">Ok</button>
      }
      <!-- Button Sort (Lookup) -->
      @case (GridCellEnum.ButtonLookupSort) {
      <button (click)="click(cell)">Sort</button>
      }
      <!-- Dropdown -->
      @case (GridCellEnum.FieldDropdown) {
      <select [ngModel]="cellTextGet(cell)" (ngModelChange)="cellTextSet(cell, $event)">
        @for (item of cell.dropDownList; track $index) {
        <option value="{{item}}">{{item}}</option>
        }
      </select>
      }
      }
    </td>
    }
  </tr>
  }
</table>
<h1>Lookup</h1>
@if(lookupCell) {
<app-page-grid [parent]="this" [grid]="lookupGrid"></app-page-grid>
}