FilterList={{grid?.state?.filterList | json}};
FilterMultiList={{grid?.state?.filterMultiList | json}};
IsSelectMultiList={{grid?.state?.isSelectMultiList | json}};
<table style="width:100%;">
  @for (cellList of grid?.rowCellList; track $index;) {
  <tr>
    @for (cell of cellList; track $index;) {
    <td (mousedown)="cellClick(cell)" (mouseenter)="cellMouseEnter(cell)" (mouseleave)="cellMouseLeave(cell)" [class.mouse-enter]="cellIsMouseEnter(cell)==true" [class.select]="cellIsSelect(cell)==true" style="overflow: hidden; white-space: nowrap;">
      @switch (cell.cellEnum) {
      <!-- Field -->
      @case (GridCellEnum.Field) {
      <input [ngModel]="cellTextGet(cell)" (ngModelChange)="cellTextSet(cell, $event)" class="w-full">
      }
      <!-- Field Autocomplete -->
      @case (GridCellEnum.FieldAutocomplete) {
      <input [ngModel]="cellTextGet(cell)" (ngModelChange)="cellTextSet(cell, $event)" (focus)="cellFocus(cell)" class="w-full">
      }
      <!-- Field Checkbox -->
      @case (GridCellEnum.FieldCheckbox) {
      <input [ngModel]="cellTextGet(cell) == 'true'" (ngModelChange)="cellTextSet(cell, $event)" type="checkbox">
      }
      <!-- Button SelectMulti -->
      @case (GridCellEnum.ButtonSelectMulti) {
      <input [ngModel]="cellTextGet(cell) == 'true'" (ngModelChange)="cellTextSet(cell, $event ? 'true' : 'false')" type="checkbox">
      }
      <!-- Button SelectMultiAll -->
      @case (GridCellEnum.ButtonSelectMultiAll) {
      <input [ngModel]="cellTextGet(cell) == 'true'" (ngModelChange)="cellTextSet(cell, $event.toString())" type="checkbox">
      }
      <!-- Header -->
      @case (GridCellEnum.Header) {
      <button (click)="buttonClick(cell)"><b>{{cell.text}}</b></button>
      @if (grid?.state?.sort?.fieldName == cell.fieldName && grid?.state?.sort?.isDesc == false) {
      &uarr;
      }
      @if (grid?.state?.sort?.fieldName == cell.fieldName && grid?.state?.sort?.isDesc == true) {
      &darr;
      }
      @if (isFilterMulti(cell.fieldName)) {
      <svg style="display: inline;" width="1em" height="1em" viewBox="-8 -10 100 120">
        <path d="m 0,0 30,45 0,30 10,15 0,-45 30,-45 Z"></path>
      </svg>
      }
      <button (click)="clickLookup(cell)">▼</button>
      }
      <!-- Filter -->
      @case (GridCellEnum.Filter) {
      <input [ngModel]="cellTextGet(cell)" (ngModelChange)="cellTextSet(cell, $event)" placeholder="Search" class="w-full">
      }
      <!-- Button Cancel -->
      @case (GridCellEnum.ButtonCancel) {
      <button (click)="buttonClick(cell)">Cancel</button>
      }
      <!-- Button Save -->
      @case (GridCellEnum.ButtonSave) {
      <button (click)="buttonClick(cell)">Save</button>
      }
      <!-- Button Cancel (Lookup) -->
      @case (GridCellEnum.ButtonLookupCancel) {
      <button (click)="buttonClick(cell)">Cancel</button>
      }
      <!-- Button Ok (Lookup) -->
      @case (GridCellEnum.ButtonLookupOk) {
      <button (click)="buttonClick(cell)">Ok</button>
      }
      <!-- Button Sort (Lookup) -->
      @case (GridCellEnum.ButtonLookupSort) {
      <button (click)="buttonClick(cell)">Sort</button>
      }
      <!-- Field Dropdown -->
      @case (GridCellEnum.FieldDropdown) {
      <select [ngModel]="cellTextGet(cell)" (ngModelChange)="cellTextSet(cell, $event)" class="w-full">
        @for (item of cell.dropDownList; track $index) {
        <option value="{{item}}">{{item}}</option>
        }
      </select>
      }
      }
    </td>
    }
  </tr>
  }
</table>
<h1>Lookup</h1>
@if(lookupCell) {
<app-page-grid [parent]="this" [grid]="lookupGrid"></app-page-grid>
}