.mouse-enter {
  background-color: rgb(227, 248, 255);
}

.select {
  background-color: lightblue;
}

.resize {
  float: right;
  cursor: col-resize;
}

/* https://www.svgviewer.dev (*.svg) https://www.base64-image.de (*.png) */
.icon-filter {
  content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBMaWNlbnNlOiBNSVQuIE1hZGUgYnkgTWljcm9zb2Z0OiBodHRwczovL2dpdGh1Yi5jb20vbWljcm9zb2Z0L3ZzY29kZS1jb2RpY29ucyAtLT4KPHN2ZyB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjMDAwMDAwIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTE1IDJ2MS42N2wtNSA0Ljc1OVYxNEg2VjguNDI5bC01LTQuNzZWMmgxNHpNNyA4djVoMlY4bDUtNC43NlYzSDJ2LjI0TDcgOHoiLz48L3N2Zz4=");
  height: 1em;
}
.icon-column {
  content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBMaWNlbnNlOiBDQyBBdHRyaWJ1dGlvbi4gTWFkZSBieSBTdXNhbmEgUGFzc2luaGFzOiBodHRwczovL3d3dy5iZWhhbmNlLm5ldC9TdXNhbmFQYXNzaW5oYXMgLS0+CjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iVXBsb2FkZWQgdG8gc3ZncmVwby5jb20iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIAoJIHdpZHRoPSI4MDBweCIgaGVpZ2h0PSI4MDBweCIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5hZmlhZG9fZWVue2ZpbGw6IzBCMTcxOTt9Cjwvc3R5bGU+CjxwYXRoIGNsYXNzPSJhZmlhZG9fZWVuIiBkPSJNNiwxNGgyMHY0SDZWMTR6IE02LDI2aDIwdi00SDZWMjZ6IE02LDZ2NGgyMFY2SDZ6Ii8+Cjwvc3ZnPg==");
  height: 1em;
}
.icon-sortup {
  content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBMaWNlbnNlOiBQRC4gTWFkZSBieSBNYXJ5IEFrdmVvOiBodHRwczovL21hcnlha3Zlby5jb20vIC0tPgo8c3ZnIGZpbGw9IiMwMDAwMDAiIHdpZHRoPSI4MDBweCIgaGVpZ2h0PSI4MDBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBpZD0idXAiIGRhdGEtbmFtZT0iRmxhdCBDb2xvciIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBjbGFzcz0iaWNvbiBmbGF0LWNvbG9yIj48cGF0aCBpZD0icHJpbWFyeSIgZD0iTTE5LjcxLDkuMjlsLTctN2ExLDEsMCwwLDAtMS40MiwwbC03LDdhMSwxLDAsMCwwLDEuNDIsMS40MkwxMSw1LjQxVjIxYTEsMSwwLDAsMCwyLDBWNS40MWw1LjI5LDUuM2ExLDEsMCwwLDAsMS40MiwwQTEsMSwwLDAsMCwxOS43MSw5LjI5WiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPjwvcGF0aD48L3N2Zz4=");
  height: 1em;
}
.icon-sortdown {
  content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBMaWNlbnNlOiBQRC4gTWFkZSBieSBNYXJ5IEFrdmVvOiBodHRwczovL21hcnlha3Zlby5jb20vIC0tPgo8c3ZnIGZpbGw9IiMwMDAwMDAiIHdpZHRoPSI4MDBweCIgaGVpZ2h0PSI4MDBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBpZD0iZG93biIgZGF0YS1uYW1lPSJGbGF0IENvbG9yIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGZsYXQtY29sb3IiPjxwYXRoIGlkPSJwcmltYXJ5IiBkPSJNMTkuNzEsMTMuMjlhMSwxLDAsMCwwLTEuNDIsMEwxMywxOC41OVYzYTEsMSwwLDAsMC0yLDBWMTguNTlsLTUuMjktNS4zYTEsMSwwLDAsMC0xLjQyLDEuNDJsNyw3YTEsMSwwLDAsMCwxLjQyLDBsNy03QTEsMSwwLDAsMCwxOS43MSwxMy4yOVoiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij48L3BhdGg+PC9zdmc+");
  height: 1em;
}
.icon-lookup {
  content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBMaWNlbnNlOiBDQyBBdHRyaWJ1dGlvbi4gTWFkZSBieSBzYWxlc2ZvcmNlOiBodHRwczovL2xpZ2h0bmluZ2Rlc2lnbnN5c3RlbS5jb20vIC0tPgo8c3ZnIGZpbGw9IiMwMDAwMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgCgkgd2lkdGg9IjgwMHB4IiBoZWlnaHQ9IjgwMHB4IiB2aWV3Qm94PSIwIDAgNTIgNTIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUyIDUyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZD0iTTguMywxNGgzNS40YzEsMCwxLjcsMS4zLDAuOSwyLjJMMjcuMywzNy40Yy0wLjYsMC44LTEuOSwwLjgtMi41LDBMNy4zLDE2LjJDNi42LDE1LjMsNy4yLDE0LDguMywxNHoiLz4KPC9zdmc+");
  height: 1em;
}