FilterList={{grid?.state?.filterList | json}};<br>
FilterMultiList={{grid?.state?.filterMultiList | json}};<br>
IsSelectMultiList={{grid?.state?.isSelectMultiList | json}};<br>
ColumnList={{grid?.state?.columnList | json}}<br>
<table class="w-full">
  @for (cellList of grid?.rowCellList; track $index;) {
  <tr>
    @for (cell of cellList; track $index;) {
    <td (mousedown)="cellClick(cell)" (mouseenter)="cellMouseEnter(cell)" (mouseleave)="cellMouseLeave(cell)" [class.mouse-enter]="cellIsMouseEnter(cell)==true" [class.select]="cellIsSelect(cell)==true" style="overflow: hidden; white-space: nowrap;">
      @switch (cell.cellEnum) {
      <!-- Field -->
      @case (GridCellEnum.Field) {
      <input [ngModel]="cellTextGet(cell)" (ngModelChange)="cellTextSet(cell, $event)" class="w-full">
      }
      <!-- Field Autocomplete -->
      @case (GridCellEnum.FieldAutocomplete) {
      <input [ngModel]="cellTextGet(cell)" (ngModelChange)="cellTextSet(cell, $event)" (focus)="cellFocus(cell)" class="w-full">
      }
      <!-- Field Checkbox -->
      @case (GridCellEnum.FieldCheckbox) {
      <input [ngModel]="cellTextGet(cell) == 'true'" (ngModelChange)="cellTextSet(cell, $event)" type="checkbox">
      }
      <!-- Checkbox SelectMulti -->
      @case (GridCellEnum.CheckboxSelectMulti) {
      <input [ngModel]="cellTextGet(cell) == 'true'" (ngModelChange)="cellTextSet(cell, $event ? 'true' : 'false')" type="checkbox">
      }
      <!-- Header -->
      @case (GridCellEnum.Header) {
      <button (click)="click(cell)"><b>{{cell.text}}</b></button>
      @if (grid?.state?.sort?.fieldName == cell.fieldName && grid?.state?.sort?.isDesc == false) {
      &uarr;
      }
      @if (grid?.state?.sort?.fieldName == cell.fieldName && grid?.state?.sort?.isDesc == true) {
      &darr;
      }
      @if (isFilterMulti(cell.fieldName)) {
      <svg style="display: inline;" width="1em" height="1em" viewBox="-8 -10 100 120">
        <path d="m 0,0 30,45 0,30 10,15 0,-45 30,-45 Z"></path>
      </svg>
      }
      <button (click)="clickLookup(cell)">▼</button>
      }
      <!-- Filter -->
      @case (GridCellEnum.Filter) {
      <input [ngModel]="cellTextGet(cell)" (ngModelChange)="cellTextSet(cell, $event)" placeholder="Search" class="w-full">
      }
      <!-- Field Dropdown -->
      @case (GridCellEnum.FieldDropdown) {
      <select [ngModel]="cellTextGet(cell)" (ngModelChange)="cellTextSet(cell, $event)" class="w-full">
        @for (item of cell.dropDownList; track $index) {
        <option value="{{item}}">{{item}}</option>
        }
      </select>
      }
      <!-- Control -->
      @case (GridCellEnum.Control) {
      @for (control of cell.controlList; track $index;) {
      @switch (control.controlEnum) {
      <!-- Button Reload -->
      @case (GridControlEnum.ButtonReload) {
      <button (click)="clickControl(cell, control)">Reload</button>
      }
      <!-- Button Save -->
      @case (GridControlEnum.ButtonSave) {
      <button (click)="clickControl(cell, control)">Save</button>
      }
      <!-- Button Cancel (Lookup) -->
      @case (GridControlEnum.ButtonLookupCancel) {
      <button (click)="clickControl(cell, control)">Cancel</button>
      }
      <!-- Button Ok (Lookup) -->
      @case (GridControlEnum.ButtonLookupOk) {
      <button (click)="clickControl(cell, control)">Ok</button>
      }
      <!-- Button Sort (Lookup) -->
      @case (GridControlEnum.ButtonLookupSort) {
      <button (click)="clickControl(cell, control)">Sort</button>
      }
      <!-- Button Column -->
      @case (GridControlEnum.ButtonColumn) {
      <button (click)="clickControl(cell, control)">☰</button>
      }
      <!-- Button Custom -->
      @case (GridControlEnum.ButtonCustom) {
      <button (click)="clickControl(cell, control)">{{control.text ?? 'Button'}}</button>
      }
      <!-- Checkbox SelectMultiAll -->
      @case (GridControlEnum.CheckboxSelectMultiAll) {
      <input [ngModel]="cellTextGetControl(cell, control) == 'true'" (ngModelChange)="cellTextSetControl(cell, control, $event.toString())" type="checkbox">
      }
      <!-- Label Custom -->
      @case (GridControlEnum.LabelCustom) {
      {{control.text}}
      }
      <!-- Field Custom -->
      @case (GridControlEnum.FieldCustom) {
      <input [ngModel]="cellTextGetControl(cell, control)" (ngModelChange)="cellTextSetControl(cell, control, $event)">
      }
      <!-- Button Modal -->
      @case (GridControlEnum.ButtonModal) {
      <button (click)="clickLookup(cell, control)">{{control.text ?? 'Button'}}</button>
      }
      <!-- Pagination -->
      @case (GridControlEnum.Pagination) {
      <button (click)="clickPagination((grid?.state?.pagination?.pageIndex ?? 0) - 1)">Previous</button>
      <button (click)="clickPagination((grid?.state?.pagination?.pageIndex ?? 0) + 1)">Next</button>
      }
      }
      }
      }
      }
    </td>
    }
  </tr>
  }
</table>
<h1>Lookup</h1>
@if(lookupCell) {
<app-page-grid [parent]="this" [grid]="lookupGrid"></app-page-grid>
}